name: Event Scheduler CI

on:
  push:
    branches: [ master ]

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      # Step 1: checkout
      - uses: actions/checkout@v3

      # Step 2: Set up JDK
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 21

      # Step 3: Build Spring Boot JAR
      - name: Build JAR
        run: mvn clean package -DskipTests

      # Step 4: Build Docker image
      - name: Build Docker image
        run: docker build -t event-scheduler-api:latest .